$border-radius-very-small: 4px;
$border-radius-small: 8px;
$border-radius-normal: 16px;

$color-shallow-focus: rgba(0, 0, 0, 0.05);
$color-normal-focus: #0000001a;

$color-border: #ccc;

$color-avatar: #c2175b;

$color-base: white;

$padding-outer: 0.5rem;